@model IEnumerable<Menu>
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu Items</h1>
<div class="row">
    @foreach(var obj in Model)
    {
        <div class="col-4">
           <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
              <div class="card-header">@obj.Name</div>
                 <div class="card-body">
                    <h6 class="card-subtitle">Price: ₹@obj.Price</h6>
                    <p class="card-text">
                        Category: <span class="badge bg-secondary">@obj.Category</span>
                        @*<span>Category: </span>*@
                    </p>
                    <a class="btn btn-info btn-sm" asp-controller="Menu" asp-action="Edit" asp-route-id="@obj.Id">Edit</a>
                    <button class="btn btn-danger btn-sm">Delete</button>
                 </div>
           </div>
        </div>
    }
</div>